@(loginForm: Form[LoginForm])(implicit messages: Messages, requestHeader: RequestHeader, flash: Flash, session: Session)

    @import helper._

    @main(title = " Login ") {

        <div class="container">

            @flash.get("forbidden").map { message =>
                <div class="alert alert-danger" role="alert">
                    @message
                </div>
            }

            @form(routes.LoginController.authenticate(), 'class -> "form-horizontal") {

                @CSRF.formField

                <h2 align="center">Please sign in</h2>

                @inputText(loginForm("name"), 'label -> messages("name"), 'id -> "name", 'placeholder -> "scala", '_help -> "", 'class -> "form-control")

                @inputPassword(loginForm("password"), '_label -> messages("password"), 'placeholder -> "password", '_help -> "", 'class -> "form-control")

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            }
        </div>

        <ul>
        @loginForm.globalErrors.map { error =>
            <li>@error.message</li>
        }
        </ul>

    }