@(title: String, stylesheets: Html = Html(""), scripts: Html = Html(""))(content: Html =  Html(""))(implicit requestHeader: RequestHeader)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>@title</title>

        <link rel='stylesheet' href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")'>
        <link rel='stylesheet' href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap-theme.min.css")'>

        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'/>

        @stylesheets

        <script type="text/javascript" src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")'></script>

        @scripts

    </head>

    <body>

        <header>@header()</header>

        <section class="content">@content</section>

        <footer>@footer()</footer>
    </body>
</html>
